#wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(216, 216, 216);
}
#header {
    display: flex;
    width: 100%;
    background-color: #008275;
    height: 50px;
    align-items: center;
}
.namu_link {
    height: 50px;
}
.namu_logo {
    width: 150px;
    height: 50px;
    margin-left: 300px;
    margin-right: auto;
}
.button1 {
    color: white;
}
.button2 {
    color: white;  
}
.button3 {
    color: white;   
}
.button1:hover {
    background-color: #80BFB4;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    
}
.button2:hover {
    background-color: #80BFB4;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    
}
.button3:hover {
    background-color: #80BFB4;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    
}
.search {
    display: flex;
    margin-left: auto;
    margin-right: 300px;
    
}
#middle {
    display: flex;
    width: auto;
    margin-left: 300px;
    margin-right: 300px;
    height: 1000px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: white;
}